*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --first-color: white;
    --second-color: #1877F2;
    --third-color:black;
    --forth-color: #F0F2F5;
    --input-br-color: #E8F0FE;
    --input-padding:15px;
    --border-radius: 5px;
    --button-padding:5px;
  }