#post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    max-width: 700px;
    margin: 5px;
    padding: 10px;
    background-color: var(--first-color);
    min-height: 20vh;
    border-radius: var(--input-padding);
    border: 2px solid black;
    
}
#post-content{
    margin-top: 10px;
    padding: 5px;
    height: fit-content;

}
#post-reactions-buttons{
    display: flex;
}
#post-card button{
    flex: 1;
    bottom: 2%;
    border: 0;
    margin: 1px;
    border-top: 0.5px solid rgba(131, 125, 125, 0.518);
    background-color: var(--first-color);
}
#post-picture-div{
    display: flex;
    align-items: center; gap: 1em;
}
#post-picture-div img{
    max-width: 60px;
}